body{
    background: #F3F5FC;

}
.logo{
    gap: 40px;
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
}
.encriptar{
    position: relative;
    width: 60vw;
    height: 100vh;
    background: #f3f5fc;
  }
  
#texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
  }
  
#texto::placeholder {
    color: #0a3871;
  }
  
#texto:focus,#texto:active {
    border: none;
    outline: none;
  }
.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
  }
.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
  }
.botonEncriptar{
    margin: 0 10px 0 10px;
    width: 328px;
    height: 67px;
    ;gap: 8px;
    border-radius: 24px;
    background:#0A3871;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color:  #FFFFFF;
}
.botonDesencriptar{
    margin: 0 10px 0 10px;
    width: 328px;
    height: 67px
    ;gap: 8px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color:  #0A3871;
    background: linear-gradient(0deg, #D8DFE8, #D8DFE8);
    border-color: rgba(10, 56, 113, 1);
}
.botonEncriptar:hover,
.botonDesencriptar:hover {
    scale: 1.2;
    cursor: pointer;
}
.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 35vw;
    height: 95vh;
    left: 60%;
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
  }
 
  .encriptado h2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    
  }
  
  .encriptado p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    
  }
  .botonCopiar {
    width: 328px;
    height: 67px;
    gap: 8px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    border: 2px solid #0A3871;
    background-color: white;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    left: 22%;
    top: 86%;
  }
  .botonCopiar:hover {
    scale: 1.2;
    cursor: pointer;
  }
  #resultado{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color:#495057;

  }

 /* Cell*/
  @media screen and (max-width: 400px) {
      .encriptar{
        height: 65vh;
        width: 100vw;
      }
      #texto{
        width: 75vw;   
      }
      .encriptado{
        position: static;
        width: 100vw;
        height: 30vh;
      }
      .imagen{
        display: none;
      }  
      .botonCopiar{
        top: 60%;
        position: static;
      }
}
/*tablet*/

  @media screen and (min-width: 400px) {
  @media screen and (max-width: 800px){

      .encriptar{
        height: 65vh;
        width: 100vw;
      }
      #texto{
        width: 75vw;   
      }
      .encriptado{
        position: static;
        width: 100vw;
        height: 30vh;
      }
      .imagen{
        display: none;
      }  
      .botonCopiar{
        top: 60%;
        position: static;
      }
    }

  }